{% extends "base.html" %}

{% block content_class %}profile{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>Jongwon Choi</h2>
            <span class="col-md-2">
                <a href="//github.com/lastone9182">
                    <i class="github"></i>
                </a>
            </span>
            <span class="col-md-2">
                <a href="mailto:lastone9182@gmail.com">
                    <i class="email"></i>
                </a>
            </span>
            <span class="col-md-2">
                <a href="//slideshare.com/Jongwon_">
                    <i class="slideshare"></i>
                </a>
            </span>
        </div>

        <div class="col-md-6">
            <h2>Speaker</h2>
            <dl>
                <dd><a href="//www.slideshare.net/Jongwon_/python-mysql-81067090">
                    Python MySQL을 활용한 대용량 데이터 수집
                </a>
                <span class="date"><small>2017.10.21, Google Developer Group Incheon DevFest</small></span>
                </dd>
            </dl>
        </div>


        <div class="col-md-6">
            <h2>Certificate</h2>
            <dl>
                <dd>OCP 11g</dd>
            </dl>
        </div>


        <div class="col-md-6">
            <h2>Projects</h2>
            <dl>
                <dd><a href="//kreditjob.com">Kreditjob Backend</a> <small class="date">Kreditdata</small></dd>
                <dd>AWS RDS Migration <small class="date">Kreditdata</small></dd>
                <dd>Web Page Crawling <small class="date">Kreditdata</small></dd>
                <dd><a href="//www.slideshare.net/Jongwon_/graduation-report-70048091">Face detection Web pages</a> <span class="date"><small>Graduation Project</small></span></dd>
                <dd><a href="//www.slideshare.net/Jongwon_/network-programming-report-56830712">Real-Time Artillery games</a> <span class="date"><small>Network Programming</small></span></dd>
            </dl>
        </div>


        <div class="col-md-6">
            <h2>Experience</h2>

            <dt>Study
                <span class="date"><small>Current</small></span>
            </dt>
            <dl>
                <dd>TensorFlow</dd>
                <dd>Scikit-learn</dd>
                <dd>Flask</dd>
            </dl>

            <dt>Kreditdata
                <span class="date"><small>Data Engineer, 2017.5 ~ 2018.6</small></span>
            </dt>

            <dl>
                <dd>Solr</dd>
                <dd>AWS</dd>
                <dd>GitHub VCS</dd>
                <dd>Web Page Crawling</dd>
                <dd>Tesseract OCR</dd>
            </dl>

            <dt>Konkuk University
                <span class="date"><small>2010.3 ~ 2017.2</small></span>
            </dt>
            <dl>
                <dd>Mathematics
                    <span class="date"><small>2010.3 ~ </small></span>
                </dd>
                <dd>Computer Science
                    <span class="date"><small>2015.9 ~</small></span>
                </dd>
            </dl>

            <dt>Community</dt>
            <dl>
                <dd>
                    <span class="col-md-2">
                        <a href="//github.com/RestrictedZone">
                            <i class="restrictedzone"></i>
                        </a>
                    </span>
                    <span class="date"><small>2015.12 ~</small></span>
                </dd>
                <dd>
                    <span class="col-md-2">
                        <a href="//we-are-dodo.github.io">
                            <i class="dodo"></i>
                        </a>
                    </span>
                    <span class="date"><small>2018.05.04 ~</small></span>
                </dd>
            </dl>
        </div>


        <div class="col-md-6">
            <h2>Stack</h2>

            <dt>NodeJS
                <span class="date"><small>2017.11 ~</small></span>
            </dt>

            <dl>
                <dd>PM2</dd>
                <dd>async, await</dd>
                <dd>ES6</dd>
                <dd>ExpressJS</dd>
            </dl>

            <dt>Amazon Web Services
                <span class="date"><small>2016.4 ~</small></span>
            </dt>

            <dl>
                <dd>EC2, RDS, IAM, Lambda</dd>
            </dl>

            <dt>Python
                <span class="date"><small>2015.12 ~</small></span>
            </dt>

            <dl>
                <dd><a href="//github.com/scikit-learn/scikit-learn">Scikit-learn</a></dd>
                <dd><a href="//github.com/secdev/scapy">Scapy</a></dd>
                <dd>Struct</dd>
                <dd>Concurrent, Asyncio</dd>
                <dd><a href="//github.com/boto/boto3">Boto3</a></dd>
                <dd>SQLAlchemy: SQLite3, <a href="//github.com/PyMySQL/PyMySQL">PyMySQL</a></dd>
                <dd><a href="//github.com/SeleniumHQ/selenium">Selenium</a></dd>
                <dd><a href="//github.com/requests/requests">Requests</a></dd>
                <dd><a href="//github.com/python-telegram-bot/python-telegram-bot">python-telegram-bot</a></dd>
                <dd><a href="//github.com/madmaze/pytesseract">pytesseract</a></dd>
                <dd><a href="//github.com/opencv/opencv">OpenCV</a></dd>
                <dd><a href="//github.com/numpy/numpy">Numpy</a>, <a href="//github.com/pandas-dev/pandas">Pandas</a></dd>
            </dl>

            <dt>Oracle
                <span class="date"><small>2015.12 ~ 2016.6</small></span>
            </dt>

            <dl>
                <dd><a href="//www.slideshare.net/Jongwon_/oracle-rds-data-pump">Oracle RDS Datapump</a></dd>
                <dd><a href="//www.slideshare.net/Jongwon_/oracle-btree">Oracle B-Tree</a></dd>
                <dd><a href="//www.slideshare.net/Jongwon_/oracle-index">Oracle Index</a></dd>
                <dd><a href="//www.slideshare.net/Jongwon_/oracle-optimizer-presentation">Oracle Query Optimizer</a></dd>
            </dl>

        </div>
    </div>
{% endblock %}